#header {
    text-align: center;
    font-size: 130%;
}

#filter {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 5%;
}
#dropdown-basic-button{
    padding: 1%;
    padding-right:5%;
    padding-left:5%;
    font-size: 140%;
    background-color: rgb(196, 194, 86);
    border: solid rgb(196, 194, 86) 3px ;
}
.menu-item h3{
    padding-left: 7%;
    padding-bottom: 1%;
}
.menu-item p{
    font-size: 120%;
}
.menu-item {
    padding-bottom: 7%;
}
input {
    padding: 0.5%;
}

#btsButton {
    background-color: rgb(196, 194, 86);
    border: solid rgb(196, 194, 86) 3px ;
}